img {
	border-radius: 10%;
	padding: 8px;
	width: 400px;
}

div {
	width:50%;
	margin-left:auto;
	margin-right:auto;

}

.oscuro{ 
	background-color: #1f1f1f; 
    color: #f1eded; 
}

 /* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto; /* 15% from the top and centered */
	padding: 0;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
} 


.buttons {
	width: 200px;
	margin: 0 auto;
	display: inline;
}

.action_btn {
	width: 200px;
	margin: 0 auto;
	display: inline;
}
